/DataSmith/.vs
/DataSmith/DataSmith/obj
/DataSmith/bin/DataSmith.exe
/DataSmith/bin/DataSmith.exe.config
/DataSmith/bin/DataSmith.pdb
/DataSmith/bin/DataSmith.Core.dll
/DataSmith/bin/DataSmith.Core.pdb
/DataSmith/bin/log
/DataSmith/Core/obj
/DataSmith/*.user
/DataSmith/DataSmith.Plugin/Plugin/DataSmith.Plugin/obj
/DataSmith/bin/plugins/DataSmith.CNIS.Plugin.dll
/DataSmith/bin/plugins/DataSmith.CNIS.Plugin.pdb
/DataSmith/DataSmith.Plugin/Plugin/DataSmith.CNIS.Plugin/obj
/DataSmith/DataSmith.Core/obj
/DataSmith/DataSmith.Res/obj
/DataSmith/bin/DataSmith.Res.pdb
/DataSmith/bin/DataSmith.Res.dll
/DataSmith/DataSmith/DataSmith.csproj.user
