/DataSmith/.vs
/DataSmith/DataSmith/obj
/DataSmith/bin/DataSmith.exe
/DataSmith/bin/DataSmith.exe.config
/DataSmith/bin/DataSmith.pdb
/DataSmith/bin/DataSmith.Core.dll
/DataSmith/bin/DataSmith.Core.pdb
/DataSmith/bin/log
